.wrapper {
  padding: var(--space-S);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.text {
  width: 50vw;
  padding: var(--space-S);
  /* column-count: 2; */
  column-gap: 40px;
  /* font-size: var(--font-size-M);
  line-height: var(--line-height-M); */
}

.text h1, .text h2, .text h3 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 30px;
}

.text div li {
  margin-left: 18px;
  padding-left: 25px;
  list-style-type: "—";
}

.link {
  cursor: pointer;
  margin: 100px;
}

@media screen and (max-width: 1000px) {
  .text {
    column-count: 1;
    padding-top: 40px;
    font-size: 22px;
    line-height: 25px;
    width: 100vw;
  }
  .text div li {
    margin-left: 25px;
    padding-left: 15px;
    list-style-type: "—";
  }
}
